%icon {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 6px;
}

.inactive {
    opacity: 0.3;
    &:hover{
        opacity: 0.8;
    }
}

.known-icon {
    @extend %icon;
    background: url('assets/icons/known_24dp.png');
    background-position: -2px -2px;
    background-size: 28px 28px;
    background-color: #45b900;
}

.almost-icon {
    @extend %icon;
    background: url('assets/icons/almost_24.png');
    background-position: -2px -2px;
    background-size: 28px 28px;
    background-color: #ffd908;
}

.dont-know-icon {
    @extend %icon;
    background: url('assets/icons/dont_know_24dp.png');
    background-position: -2px -2px;
    background-size: 28px 28px;
    background-color: #ff5711;
}

