.toggle-button {
    display: inline-block;
}

.waves {
    content: "";
    display: inline-block;
    position: relative;
    background-color: #909090;
    border-radius: .9375rem;
    margin-right: .625rem;
    vertical-align: middle;
    margin: 0 1rem;
    width: 2.5rem;
    height: .9375rem;
    transition: background .3s ease;
    
    &:after{
        content: "";
        position: absolute;
        display: inline-block;
        background-color: #f1f1f1;
        border-radius: 1.3125rem;
        left: -.3125rem;
        top: -.1875rem;
        box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,.4);
        width: 1.3125rem;
        height: 1.3125rem;
        transition: left .3s ease,background .3s ease,box-shadow 1s ease;
    }
}

label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: .5rem;
}

input[type=checkbox]:checked+.waves:after {
    background-color: #065fd4;
    left: 1.5rem;
}

input[type=checkbox]:checked+.waves {
    background-color: #dccfe2;
}

.toggle-button label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}